<div *ngIf="brewerStatus">
  <span class="semibold lightgrey label">Now Brewing</span>

  <div class="fontlg">
    {{brewerStatus.customName}}
  </div>
  <div class="fontsm">{{brewerStatus.id}}</div>
  <div>
    <span class="semibold lightgrey label">Brew started</span>
  </div>
  <div class="fontmd">
    {{brewerStatus.dateCreated | date:'medium'}}
  </div>
  <div>
    <span class="semibold lightgrey label">Ambient</span>
  </div>
  <div class="fontlg">
    {{(brewerStatus.status.tempAmbient)/10}}&deg;C
  </div>
  <div>
    <span class="semibold lightgrey label">Brew Temp</span>
  </div>
  <div class="fontlg">
    {{(brewerStatus.status.tempBrew2L+brewerStatus.status.tempBrew8L)/2/10}}&deg;C
  </div>
  <div class="fontsm">
    {{brewerStatus.status.flag | uppercase}}
  </div>

  <div>

    <!-- <span class="lightgrey">(COOLING | INLIMITS | HEATING)</span> -->



  <div>
    <span class="semibold lightgrey label">Current Zone</span>
  </div>
  <div class="zones">


  <div class="fontmd circle" [ngClass]="{current: brewerStatus.currentZone === 1}">
    1
  </div>
  <div class="fontmd circle" [ngClass]="{current: brewerStatus.currentZone === 2}">
    2
  </div>
  <div class="fontmd circle" [ngClass]="{current: brewerStatus.currentZone === 3}">
    3
  </div>
  <div class="fontmd circle" [ngClass]="{current: brewerStatus.currentZone === 4}">
    4
  </div>
  </div>
</div>
